html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  /*background: #ffffff url('../img/geometry2.png');*/ /* Background pattern from Subtle Patterns */
  /*background: #ffffff url('../img/congruent_pentagon.png'); /* Background pattern from Subtle Patterns*/
  font-family: "Coda", cursive;
  background-color: #00b7ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3,
th {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #12b112;
}

h1 {
  font-size: 58px;
  text-shadow: 2px 2px #1e7e85;
}

h2 {
  font-size: 36px;
  text-shadow: 2px 2px #caa6ff;
}

/*
* Styles for the deck of cards
*/

.deck {
  align-items: center;
  background: linear-gradient(160deg, #b06ab3 0%, #4568dc 100%);
  /*background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);*/
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 3em;
  min-height: 680px;
  padding: 32px;
  width: 660px;
}

.deck .card {
  align-items: center;
  background: #2e3d49;
  border-radius: 8px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 0;
  justify-content: center;
  height: 125px;
  width: 125px;
}

.deck .card.open {
  background: #02b3e4;
  cursor: default;
  transform: rotateY(0);
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

/*
* Styles for the Score Panel
*/

.score-panel {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 530px;
}

.score-panel .stars {
  display: inline-block;
  margin: 0;
  margin: 0 5px 0 0;
  padding: 0;
  width: 15%;
}

.score-panel .stars li {
  display: inline-block;
  list-style: none;
}

.score-panel .timeElapsed {
  display: inline-block;
  width: 25%;
}

.score-panel .moves {
  display: inline-block;
  width: 25%;
}

.score-panel .matched {
  display: inline-block;
  width: 25%;
}

.score-panel .restart {
  cursor: pointer;
  float: right;
  text-align: right;
  text-align: center;
}

/*
* Styles for the Previous Score
*/

.previous-score__container {
  display: none;
}

.previous-score__container h2 {
  text-align: center;
}

.previous-score__table {
  margin: auto;
  width: 660px;
}

.previous-score__table th {
  background-color: #4568dc;
  color: #fff;
  font-weight: 200;
}

.previous-score__table tr,
.previous-score__table td {
  background-color: white;
}

.previous-score__table tr,
.previous-score__table th,
.previous-score__table td {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

/*
* Styles for Footer
*/

.footer__container {
  background-color: #2f3d48;
  color: #fff;
  height: 180px;
  margin-top: 20px;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}

.footer__social-media {
  list-style: none;
}

.footer__social-media li {
  display: inline-block;
}

/*
* Styles for Contacts Links
*/

.contacts-link {
  background-color: #27afc4;
  border: 1px double #fff;
  border-radius: 50%;
  font-size: 18px;
  line-height: 1.5em;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0.5em;
  position: relative;
  text-decoration: none;
  width: 45px;
}

.contacts-link a {
  color: #fff;
  margin: -14px;
  padding: 14px;
}

.contacts-link:hover {
  background-color: #1e8495;
  cursor: pointer;
}

.contacts-link a:visited {
  color: #fff;
}

/*
* Styles for Animations
*/

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake-to-shuffle {
  animation: shake 1s;
  /*animation-iteration-count: infinite;*/
}

@keyframes wrong-cards-color {
  0% {
    background-color: #ff3f00;
  }
  25% {
    background-color: #ffbb00;
  }
  100% {
    background-color: #ff3f00;
  }
}

@keyframes matching-cards-color {
  0% {
    background-color: #02ccba;
  }
  25% {
    background-color: #02cc16;
  }
  50% {
    background-color: #88ff00;
  }
  75% {
    background-color: #02cc16;
  }
  100% {
    background-color: #02ccba;
  }
}

.toBeReflipped {
  animation: wrong-cards-color 1.2s;
}

.match {
  animation: matching-cards-color 1.2s;
}
